<div class="row align-items-center py-4">
  <div class="col-md-4">
    <!-- <img class="w-100" src="{{ productDetails?.imageCover }}" alt="" /> -->
    <owl-carousel-o [options]="customOptions">
      @for (image of productDetails?.images; track $index) {
      <ng-template carouselSlide>
        <img class="w-100" src="{{ image }}" alt="" />
      </ng-template>
      }
    </owl-carousel-o>
  </div>
  <div class="col-md-8">
    <h2 class="h4 fw-bolder mb-2">{{ productDetails?.title }}</h2>
    <p class="text-muted p-3">
      {{ productDetails?.description | seemore : 50 }}
    </p>
    <div class="d-flex align-items-center justify-content-between">
      <span class="text-muted fw-bold font-sm"
        >{{ productDetails?.price | currency : "EGP" }}
      </span>
      <div>
        <span class="text-muted fw-bold font-sm">{{
          productDetails?.ratingsAverage
        }}</span>
        <i class="fas fa-star rating-color"></i>
      </div>
    </div>
    <button class="btn bg-main text-white w-100 my-2">+ Add</button>
  </div>
</div>
